venv/
.venv/

__pycache__/
*.pyc

.git/
.github/

reports/

generated_tests/

uploads/

#db/

playwright/.auth/

auth.json

storage_state.json

session.json

cookies.json

.env

.pytest_cache/

node_modules/

.idea/

.vscode/

dist/

build/